<body >
    <h1 style="text-align: center;"> User Table</h1>
 <table id="usertable">
     <thead>
     <tr>
         <th>Name</th>
         <th>Email</th>
         <td><button routerLink="/form" routerLinkActive="active" style="background-color:darkgrey; padding: 10px;">Back</button></td>

     </tr>
     </thead>
     <tbody>
        <tr *ngFor="let user of userData">
          <td>{{ user.username }}</td>
          <td>{{ user.user_email }}</td>
          <td><button class="button" (click)="viewdetail(user.user_email)" >View Detail</button></td>
        </tr>
      </tbody>
 </table>
 </body>
