* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-image:url(./../../images/pexels-lex-photography-1109543.jpg);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100wh;
    height: 100vh;
    position: fixed;
    /* height: 100%;
    width: 100%; */
    color: #8f3a19;
    line-height: 1.6;
  }
  
  /* #showcase {
    background-size: cover;
    background-position: center;
   
    display: flex;
    flex-direction: column;
   
  } */
  
  #showcase h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  
  #showcase p {
    font-size: 20px;
  }
  
    .button {
    font-size: 18px;
    margin-top: 40px;
    text-decoration: none;
    color: #f5efeaef;
    background: #c47c42;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    width: 80px;
  }
  
  /* To give a little highligh on active elements */
  
  #showcase .button:hover {
    background: #926239;
    color: #fff;
  }
  
  #section {
   margin-top: 300px;
    padding: 20px;
    background: #5f5e5c;
    color: #fff;
    text-align: center;
  }